{% extends 'base.html' %}
{% load common_tags %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div id="ibox-content" class="ibox-title">
                        <h5> 基本信息 </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        {% if emg %}
                            <div class="alert alert-warning text-center">{{ emg }}</div>
                        {% endif %}
                        {% if form.errors %}
                        {% autoescape off %}{% form_errors form %}{% endautoescape %}
                        {% endif %}

                        <form id="assetForm" method="post" class="form-horizontal nice-validator n-yellow"
                              novalidate="novalidate">
                            <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="name">账号</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <input class=" form-control" id="name" maxlength="32" name="name"
                                           value="{{ admin.name }}" placeholder="Account Name" disabled="disabled" type="text">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-2 col-lg-2 " for="password">密码</label>
                                <div class="col-sm-8 col-lg-8 ">
                                    <input class=" form-control" id="password" maxlength="32" name="pwd"
                                           placeholder="Password" type="text">
                                    <span class="help-block m-b-none text-danger">如果不修改, 请留空</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="role">角色</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <select id="role" name="role" class="form-control">
                                    <option value="">选择角色</option>
                                        {% for role in roles %}
                                            {% ifequal role.id admin.role_id %}
                                                <option value="{{ role.id }}" selected="selected">{{ role.role_name }}</option>
                                            {% else %}
                                                <option value="{{ role.id }}">{{ role.role_name }}</option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="user_name">姓名</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <input class=" form-control" id="user_name" maxlength="32" name="user_name"
                                           value="{{ admin.user_name }}" placeholder="User Name" type="text">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="tel">电话号</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <input class=" form-control" id="tel" maxlength="32" name="tel"
                                           value="{{ admin.tel }}" placeholder="Tel" type="text">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="email">邮箱</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <input class=" form-control" id="tel" maxlength="32" name="email"
                                           value="{{ admin.email }}" placeholder="Email" type="text">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-2 col-lg-2 " for="status">状态</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <div class="radio i-checks">
                                        {% ifequal admin.status 1 %}
                                        <label> <input value="1" name="status" type="radio" checked="checked">启用 </label>
                                        <label> <input value="2" name="status" type="radio"> 停用</label>
                                        {% else %}
                                        <label> <input value="1" name="status" type="radio">启用 </label>
                                        <label> <input value="2" name="status" type="radio" checked="checked"> 停用</label>
                                        {% endifequal %}
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
{#                            <div class="form-group">#}
{#                                <label class="control-label col-sm-2 col-lg-2 " for="email">项目权限</label>#}
{#                                <div class="col-sm-10 col-lg-10 ">#}
{#                                    {% for project in projects %}#}
{#                                    <div class="col-sm-2">#}
{#                                        <div class="radio i-checks">#}
{#                                            <label style="padding-left: 0">#}
{#                                                {% if project.id in project_ids %}#}
{#                                                <input checked="checked" name="pids" value="{{ project.id }}" type="checkbox"><span> {{ project.project_name }} </span>#}
{#                                                {% else %}#}
{#                                                <input name="pids" value="{{ project.id }}" type="checkbox"><span> {{ project.project_name }} </span>#}
{#                                                {% endif %}#}
{#                                            </label>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            </div>#}

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <button class="btn btn-white" type="submit"> 重置</button>
                                    <button class="btn btn-primary" type="sumbit"> 提交</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}