{% extends 'base.html' %}
{% load common_tags %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div id="ibox-content" class="ibox-title">
                        <h5> 填写模块基本信息 </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        {% if emg %}
                            <div class="alert alert-warning text-center">{{ emg }}</div>
                        {% endif %}
                        {% if form.errors %}
                        {% autoescape off %}{% form_errors form %}{% endautoescape %}
                        {% endif %}
                        <form id="assetForm" method="post" class="form-horizontal nice-validator n-yellow"
                              novalidate="novalidate">
                            <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="menu_name">菜单名称</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <input class=" form-control" id="menu_name" maxlength="32" name="menu_name"
                                           placeholder="Group Name" type="text" value="{{ menu.menu_name }}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-2 col-lg-2 " for="module-id">所属模块</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <select id="module-id" name="module" class="form-control">
                                    <option value="">选择模块</option>
                                        {% for module in modules %}
                                            {% ifequal module.id menu.module.id  %}
                                                <option selected="selected" value="{{ module.id }}">{{ module.module_name }}</option>
                                            {% else %}
                                                <option value="{{ module.id }}">{{ module.module_name }}</option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-2 col-lg-2 " for="privilege-id">关联权限</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <select id="privilege-id" name="privilege" class="form-control" data-pid="{{ menu.privilege.id }}">
                                    <option value="">---关联权限---</option>
                                    </select>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-2 col-lg-2 " for="target">跳转目标</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <div class="radio i-checks">
                                        {% ifequal menu.target '_self' %}
                                        <label> <input value="_self" name="target" type="radio" checked="checked" >当前页 </label>
                                        <label> <input value="_blank" name="target" type="radio"> 新页面</label>
                                        {% else %}
                                        <label> <input value="_self" name="target" type="radio" >当前页 </label>
                                        <label> <input value="_blank" name="target" type="radio" checked="checked"> 新页面</label>
                                        {% endifequal %}
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-2 col-lg-2 " for="target_url">跳转地址</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <input class=" form-control" id="target_url" maxlength="32" name="target_url"
                                           value="{{ menu.target_url }}" placeholder="Target Url" type="text">
                                </div>
                            </div>



                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-2 col-lg-2 " for="status">状态</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <div class="radio i-checks">
                                        {% ifequal menu.status 1 %}
                                        <label> <input value="1" name="status" type="radio" checked="checked">启用 </label>
                                        <label> <input value="2" name="status" type="radio"> 停用</label>
                                        {% else %}
                                        <label> <input value="1" name="status" type="radio">启用 </label>
                                        <label> <input value="2" name="status" type="radio" checked="checked"> 停用</label>
                                        {% endifequal %}
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <button class="btn btn-white" type="submit"> 重置</button>
                                    <button class="btn btn-primary" type="sumbit"> 提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block self_footer_js %}
<script>
$(function () {
    var selectPid = $('#privilege-id').attr('data-pid');

    $("#module-id").change(function () {
        $.getJSON("/account/menu/add?act=get_ajax_privileges&mid=" + $(this).val(), function (result) {
            $('#privilege-id').empty().append('<option value="">请选择关联权限</option>');
            $.each(result, function (id, privilege) {
                $('#privilege-id').append('<option value="' + id + '">' + privilege + '</option>');
            });
            $('#privilege-id').val(selectPid);
        });
    });

    $('#module-id').change();
});
</script>
{% endblock %}