{% extends 'base.html' %}
{% load common_tags %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <form id="assetForm" method="post" class="form-horizontal nice-validator n-yellow"
                              novalidate="novalidate">
                    <div id="ibox-content" class="ibox-title">
                        <h5> 基本信息 </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        {% if emg %}
                            <div class="alert alert-warning text-center">{{ emg }}</div>
                        {% endif %}
                        {% if form.errors %}
                        {% autoescape off %}{% form_errors form %}{% endautoescape %}
                        {% endif %}


                            <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="role_name">角色名称</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <input class=" form-control" id="role_name" maxlength="32" name="role_name"
                                           value="{{ role.role_name }}" placeholder="Role Name" type="text">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-2 col-lg-2 " for="description">角色描述</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <textarea name="description" id="description" cols="100" rows="10">{{ role.description }}</textarea>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-2 col-lg-2 " for="status">状态</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <div class="radio i-checks">
                                        {% ifequal role.status 1 %}
                                        <label> <input value="1" name="status" type="radio" checked="checked">启用 </label>
                                        <label> <input value="2" name="status" type="radio"> 停用</label>
                                        {% else %}
                                        <label> <input value="1" name="status" type="radio">启用 </label>
                                        <label> <input value="2" name="status" type="radio" checked="checked"> 停用</label>
                                        {% endifequal %}
                                    </div>
                                </div>
                            </div>

                    </div>

                    <!-- 权限列表 -->
                    <div id="ibox-content" class="ibox-title">
                    <h5> 权限列表 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                    </div>

                    <div class="ibox-content">
                        {% for module in modules %}
                        <div class="section auth-panel">
                            <div class="auth_item auth-level0 auth_re">
                                <a href="javascript:;" class="btn_fold"><i class="icon-fold-o"></i></a>
                                <label>{{ module.module_name }}</label>
                            </div>
                            {% for privilege_group in module.privilegegroup_set.all %}
                            <div class="auth_item auth-level1 jq-1">
                                <label><input name="gids[]" value="{{ privilege_group.id }}" class="auth_check" type="checkbox">{{ privilege_group.group_name }}</label>
                            </div>

                            <div class="jq-items-wrap">
                                {% for privilege in privilege_group.privilege_set.all %}
                                <div class="auth_item auth-level2 jq-2">
                                {% if privilege.id in privilege_ids %}
                                    <label><input name="pids" checked="checked" value="{{ privilege.id }}" class="auth_check" type="checkbox">{{ privilege.privilege_name }}</label>
                                {% else %}
                                    <label><input name="pids" value="{{ privilege.id }}" class="auth_check" type="checkbox">{{ privilege.privilege_name }}</label>
                                {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                             {% endfor %}
                        </div>
                        {% endfor %}

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-5">
                                <button class="btn btn-white" type="submit"> 重置</button>
                                <button class="btn btn-primary" type="sumbit"> 提交</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block self_footer_js %}
<script>
$(function () {
    //初始化复选框
    var $all = $(".jq-1").find(".auth_check");
    $all.each(function () {
        var $itemsWrap = $(this).parents(".jq-1").next(); //三级选项的个数
        var $tmp = $itemsWrap.find(".jq-2 input:checkbox");

        if ($tmp.filter(':checked').size() > 0) {
            $(this).prop('checked', $tmp.length == $tmp.filter(':checked').length);
        }
    });

    $all.click(function () {
        var $child = $(this).parents(".jq-1").next().find(".jq-2 input:checkbox");
        $child.prop("checked", $(this).prop('checked'));
    });

    $(".jq-2 input:checkbox").click(function () {
        var $itemsWrap = $(this).parents(".jq-items-wrap");  //包裹三级选项的div
        var $tmp = $itemsWrap.find(".jq-2 input:checkbox"); //三级选项的个数
        var $all = $itemsWrap.prev(".jq-1").find(".auth_check"); //二级全选复选框
        $all.prop('checked', $tmp.length == $tmp.filter(':checked').length);
    });

});
</script>
{% endblock %}