{% extends 'base.html' %}
{% load common_tags %}
{% block content %}


<div class="wrapper wrapper-content">


    <div class="row">
        <div class="ibox-title">
                    <span class="label label-danger pull-right">Data changes</span>
                    <h5>{{ tbname }}</h5>
     </div>


        <div class="col-sm-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">

                    <div id="mian2" style="width: 100%;height:400px;"></div>
                    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('mian2'));
                   option = {
                       title: {
                           text: '变化曲线'
                       },
                       tooltip: {
                           trigger: 'axis'
                       },
                       legend: {
                           data: ['表大小(M)','表总数']
                       },
                       grid: {
                           left: '3%',
                           right: '4%',
                           bottom: '3%',
                           containLabel: true
                       },
                       toolbox: {
                           feature: {
                               saveAsImage: {}
                           }
                       },
                       xAxis: {
                           type: 'category',
                           boundaryGap: false,
                           data: []
                       },
                       yAxis: {
                           type: 'value'
                       },
                       series: [
                           {
                               name: '表大小(M)',
                               type: 'line',
                               stack: '总量',
                               data: []
                           },
                           {
                               name: '表总数',
                               type: 'line',
                               stack: '总量',
                               data: []
                           }

                       ]
                   };

                // 异步加载数据
                        $.get('/serman/etable/graph/?id={{ pk_id }}&').done(function (ret) {
                            // 填入数据
                            myChart.setOption({
                                xAxis: {
                                    data: ret.categories
                                },
                                series: [
                                    {
                                    // 根据名字对应到相应的系列
                                    name: '表大小(M)',
                                    data: ret.data
                                    },
                                    {
                                    // 根据名字对应到相应的系列
                                    name: '表总数',
                                    data: ret.total
                                    }
                                ]
                            });
                        });

                myChart.setOption(option)

                    </script>

                </div>
            </div>
        </div>


    </div>


</div>


{% endblock %}

{% block self_footer_js %}
<script>
$(document).ready(function(){
    $('#show').click(function(){
        $('#show').css('display', 'none');
        $('#more').css('display', 'block');
    })
});
</script>
{% endblock %}