{% extends 'base.html' %}
{% load common_tags %}
{% block content %}


<div class="wrapper wrapper-content">


 <div class="row">
            <div class="col-sm-12">
                 <div class="col-sm-12">
                <div class="ibox-title has-higher search-special">
                    <div class="clearfix line-first">
                        <div class="pull-left" style="padding: 0px 10px 0px 0px;">
                            <form id="contents_form" name="search_form">
                                <label class="selLabel">
                                    <select name="pname" class="form-control m-b input-sm">
                                        <option value="">---全部环境---</option>
                                        {% for item in ese %}
                                            {% ifequal item.descr pname %}
                                                <option value="{{ item.descr }}" selected="selected">{{ item.descr }}</option>
                                            {% else %}
                                                <option value="{{ item.descr }}">{{ item.descr }}</option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                    </select>
                                </label>
                                <input type="text" class="form-control m-b input-sm pull-left line-first-text" id=""
                                   name="database" value="{{ database }}" placeholder="---database---">

                                <input name="begin_date" type="text" id="privilege-name" placeholder="---开始日期---"
                                       class="form-control m-b input-sm pull-left line-first-text " onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
                                <input name="end_date" type="text" id="privilege-name" placeholder="---结束日期---"
                                       class="form-control m-b input-sm pull-left line-first-text " onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
                                <div class="pull-left">
                                    <button id='search_btn' type="button" class="btn btn-sm btn-primary search-btn" onclick="search_form.submit();">
                                        - 搜索 -
                                    </button>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
                    <div class="ibox-content">
                        <form id="contents_form" name="contents_form">
                            <table class="table table-striped table-bordered table-hover " id="editable">
                                <thead>
                                <tr >
                                    <th class="text-center"> ID </th>
                                    <th class="text-center"> 数据库</th>
                                    <th class="text-center"> 表名</th>
                                    <th class="text-center"> 走势图</th>



                                </tr>
                                </thead>
                                <tbody>
                                 {% for hts in page_objects %}
                                    <tr class="gradeX">
                                        <td class="text-center">{{ hts.id }}</td>
                                        <td class="text-center"> {{ hts.dbname }} </td>
                                        <td class="text-center"> {{ hts.tbname }} </td>
                                        <td class="text-center">
                                            <a href="{% url 'etable_graph' %}?id={{ hts.id }}&{{ query_string }}"
                                               class="btn btn-xs btn-info">Graph</a>
                                        </td>


                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                                        Showing {{ page_objects.start_index }} to {{ page_objects.end_index }}
                                        of {{ page_objects.count }} entries
                                    </div>
                                </div>
                                {% paginator_tag page_objects %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock %}

{% block self_footer_js %}
<script>
$(document).ready(function(){
    $('#show').click(function(){
        $('#show').css('display', 'none');
        $('#more').css('display', 'block');
    })
});
</script>


<script>
$(function () {

    $('.form_date').datepicker({

        format: 'yyyy-mm-dd',
        language: 'zh-CN',
    });
});
</script>

{% endblock %}






















