{% extends 'base.html' %}
{% load common_tags %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox-title has-higher search-special">
                    <div class="clearfix line-first">
                        <div class="pull-left" style="padding: 0px 10px 0px 0px;">
                            <form id="contents_form" name="contents_form">
                            <label class="selLabel">
                                <select name="idc" class="form-control m-b input-sm" onchange="change_info()">
                                    <option value="">机房</option>
                                    <option value="北京电信IDC"> 北京电信IDC</option>
                                    <option value="北京联通IDC"> 北京联通IDC</option>
                                    <option value="北京移动IDC"> 北京移动IDC</option>
                                </select>
                            </label>
                            <input type="text" class="form-control m-b input-sm pull-left line-first-text"
                                   id="search_input" name="keyword" value="" placeholder="ererwer">

                            <label class="selLabel">
                                <select name="in" class="form-control m-b input-sm">
                                    <option value="">资产类型</option>
                                    <option value="1"> 物理机</option>
                                    <option value="2"> 虚拟机</option>
                                    <option value="3"> 交换机</option>
                                    <option value="4"> 路由器</option>
                                    <option value="5"> 防火墙</option>
                                    <option value="6"> Docker</option>
                                    <option value="7"> 其他</option>
                                </select>
                            </label>

                            <input type="text" class="form-control m-b input-sm pull-left line-first-text" id=""
                                   name="keyword" value="" placeholder="vfgfg">
                            <input type="text" class="form-control m-b input-sm pull-left line-first-text" id=""
                                   name="keyword" value="" placeholder="ererwer">

                            <input type="text" class="form-control m-b input-sm pull-left line-first-text"
                                   id="search_input" name="keyword" value="" placeholder="ererwer">
                            <div class="pull-left">
                                <button id='search_btn' href="/jasset/asset/list/?search=true" type="button"
                                        class="btn btn-sm btn-primary search-btn" onclick="change_info()">
                                    - 搜索 -
                                </button>
                                <button type="button" href="/jasset/asset/list/?export=true" name="export"
                                        class="btn btn-sm btn-success search-btn-excel" onclick="return false">
                                    - 导出 -
                                </button>
                            </div>

                            <input type="text" style="display: none">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-title has-higher table-special">
                        <div class="row">
                            <div class="col-md-12 line-second">
                                <h5> 主机详细信息列表 -</h5>
                                <div class="pull-left" style="margin-left:20px">
                                    <a href="{% url 'module_add' %}" class="btn btn-sm btn-primary "> 添加模块 </a>
                                </div>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form id="contents_form" name="contents_form">
                            <table class="table table-striped table-bordered table-hover " id="editable">
                                <thead>
                                <tr>
                                    <th class="text-center"><input id="checkall" type="checkbox" class="i-checks"
                                                                   name="checkall" value="checkall"
                                                                   data-editable='false'
                                                                   onclick="check_all('contents_form')"></th>
                                    <th class="text-center"> 模块名</th>
                                    <th class="text-center"> 状态</th>
                                    <th class="text-center"> 排序</th>
                                    <th class="text-center"> 操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for module in page_objects %}
                                    <tr class="gradeX">
                                        <td class="text-center" name="j_id" value="{{ module.id }}"
                                            data-editable='false'><input name="id" value="{{ module.id }}"
                                                                         type="checkbox" class="i-checks"></td>
                                        <td class="text-center"> {{ module.module_name }} </td>
                                        <td class="text-center"> {{ module.status }} </td>
                                        <td class="text-center"> {{ module.list_order }} </td>
                                        <td class="text-center">

                                            <a href="{% url 'module_edit' %}?id={{ module.id }}"
                                               class="btn btn-xs btn-info">编辑</a>
                                            <a value="{% url 'module_change_status' %}?id={{ module.id }}"
                                               class="btn btn-xs btn-danger idc_del">删除</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                                        Showing {{ page_objects.start_index }} to {{ page_objects.end_index }}
                                        of {{ page_objects.count }} entries
                                    </div>
                                </div>
                                {% paginator_tag page_objects %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block self_footer_js %}

{% endblock %}