{% extends 'base.html' %}
{% load common_tags %}
{% block content %}


<div class="wrapper wrapper-content">
<div class="col-sm-12">
                <div class="ibox-title has-higher search-special">
                    <div class="clearfix line-first">
                        <div class="pull-left" style="padding: 0px 10px 0px 0px;">
                            <form id="contents_form" name="search_form">
                                <label class="selLabel">
                                    <select name="dbname" class="form-control m-b input-sm">
                                        <option value="">---全部环境---</option>

                                        {% for item in alldb %}
                                            {% ifequal item.dbname dbname %}
                                                <option value="{{ item.dbname }}" selected="selected">{{ item.dbname }}</option>
                                            {% else %}
                                                <option value="{{ item.dbname }}">{{ item.dbname }}</option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                </label>
                                <input type="text" class="form-control m-b input-sm pull-left line-first-text" id=""
                                   name="tbname" value="{{ tbname }}" placeholder="---table_name---">

                                <div class="pull-left">
                                    <button id='search_btn' type="button" class="btn btn-sm btn-primary search-btn" onclick="search_form.submit();">
                                        - 搜索 -
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
</div>

    <div class="row">
        <div class="ibox-title">
                    <span class="label label-danger pull-right">Data changes</span>
                    <h5>数据量变化曲线</h5>
     </div>
{% for i in tabnum %}

        <div class="col-sm-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">

                    <div id="{{ i.tbname }}" style="width: 1200px;height:300px;"></div>
                    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart{{ i.tbname }} = echarts.init(document.getElementById('{{ i.tbname }}'));


            // 初始 option
            option = {
                title: {
                    text: '{{ i.tbname }}'
                },
                tooltip: {},
                legend: {
                    data:['单位M']
                },
                xAxis: {
                    data: []
                },
                yAxis: {},
                series: [{
                    name: '单位M',
                    type: 'bar',
                    data: []
                }]
            };


               // 异步加载数据
                $.get('/eproject/edatabase/graph/?data=1').done(function (ret)
                {
                        // 填入数据
                        myChart{{ i.tbname }}.setOption({
                            xAxis: {
                                data: ret['{{ i.tbname }}'].categories
                            },
                            series: [{
                                // 根据名字对应到相应的系列
                                name: '单位M',
                                data: ret['{{ i.tbname }}'].data
                            }]
                        });

                });

                myChart{{ i.tbname }}.setOption(option)

                    </script>

                </div>
            </div>
        </div>

{% endfor %}
    </div>


</div>


{% endblock %}

{% block self_footer_js %}
<script>
$(document).ready(function(){
    $('#show').click(function(){
        $('#show').css('display', 'none');
        $('#more').css('display', 'block');
    })
});
</script>
{#    <script>#}
{#     // 异步加载数据#}
{#                $.get('/eproject/edatabase/graph/?data=1').done(function (ret)#}
{#                {#}
{#                    $.each(ret, function(key, value) {#}
{#                        myChart.hideLoading();//隐藏加载动画#}
{#                        // 填入数据#}
{#                        myChart.setOption({#}
{#                            xAxis: {#}
{#                                data: value.categories#}
{#                            },#}
{#                            series: [{#}
{#                                // 根据名字对应到相应的系列#}
{#                                name: '单位M',#}
{#                                data: value.data#}
{#                            }]#}
{#                        });#}
{#                    });#}
{##}
{#                });#}
{##}
{#                myChart.setOption(option)#}
{#</script>#}
{% endblock %}