{% extends 'base.html' %}
{% load common_tags %}
{% block content %}


<div class="wrapper wrapper-content">


 <div class="row">
            <div class="col-sm-12">
                 <div class="col-sm-12">
                <div class="ibox-title has-higher search-special">
                    <div class="clearfix line-first">
                        <div class="pull-left" style="padding: 0px 10px 0px 0px;">
                            <form id="contents_form" name="search_form">
                                <label class="selLabel">
                                    <select name="epname" class="form-control m-b input-sm">
                                        <option value="">---全部环境---</option>

                                        {% for item in pname %}
                                                <option >{{ item.pname }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <input type="text" class="form-control m-b input-sm pull-left line-first-text" id=""
                                   name="host" value="{{ host }}" placeholder="---host---">

                                <div class="pull-left">
                                    <button id='search_btn' type="button" class="btn btn-sm btn-primary search-btn" onclick="search_form.submit();">
                                        - 搜索 -
                                    </button>
                                </div>
                             <div class="pull-left" style="margin-left:20px">
                                    <a href="{% url 'eserver_add' %}" class="btn btn-sm btn-primary "> 添加服务器 </a>
                                </div>
                            <div class="pull-left" style="margin-left:20px">
                                    <a href="{% url 'eprivs_add' %}" class="btn btn-sm btn-primary "> 授权管理 </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                    <div class="ibox-content">
                        <form id="contents_form" name="contents_form">
                            <table class="table table-striped table-bordered table-hover " id="editable">
                                <thead>
                                <tr>
                                    <th class="text-center"> 服务器编号 </th>
                                    <th class="text-center"> 所属环境 </th>
                                    <th class="text-center"> 主机名</th>
                                    <th class="text-center"> 主机ip</th>
                                    <th class="text-center"> 数据库端口</th>
                                    <th class="text-center"> SSH端口</th>
                                    <th class="text-center"> SSH用户</th>
{#                                    <th class="text-center"> 密码</th>#}
                                    <th class="text-center"> 描述</th>
                                    <th class="text-center"> 创建时间</th>
                                    <th class="text-center"> 操作</th>




                                </tr>
                                </thead>
                                <tbody>
                                 {% for eserver in page_objects %}
                                    <tr class="gradeX">
                                        <td class="text-center">{{ eserver.id }}</td>
                                        <td class="text-center">{%  get_eproject_pname eserver.eproject.id %}</td>
{#                                        <td class="text-center">{{ eserver.eproject.pname }}</td>#}
                                        <td class="text-center">{{ eserver.hostname }}</td>
                                        <td class="text-center">{{ eserver.host }}</td>
                                        <td class="text-center">{{ eserver.dport }}</td>
                                        <td class="text-center">{{ eserver.hport }}</td>
                                        <td class="text-center">{{ eserver.huser }}</td>
{#                                        <td class="text-center">{{  eserver.hpassword }} </td>#}
                                        <td class="text-center">{{  eserver.descr }} </td>
                                        <td class="text-center"> {{ eserver.created_at|date:"Y-m-d H:i:s" }} </td>

                                        <td class="text-center">
                                            <a href="{% url 'eserver_edit' %}?id={{ eserver.id }}&{{ query_string }}"
                                               class="btn btn-xs btn-info">编辑</a>

                                            <a href="{% url 'eserver_del' %}?id={{ eserver.id }}&{{ query_string }}"
                                               class="btn btn-xs btn-info">删除</a>

                                            <a href="{% url 'release_apply' %}?id={{ eserver.id }}&{{ query_string }}"
                                               class="btn btn-xs btn-info">发布申请</a>
                                        </td>


                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                                        Showing {{ page_objects.start_index }} to {{ page_objects.end_index }}
                                        of {{ page_objects.count }} entries
                                    </div>
                                </div>
                                {% paginator_tag page_objects %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock %}

{% block self_footer_js %}
<script>
$(document).ready(function(){
    $('#show').click(function(){
        $('#show').css('display', 'none');
        $('#more').css('display', 'block');
    })
});
</script>

 <script language="JavaScript" type="text/javascript">
      function changeState(isChecked)
     {
       var chk_list=document.getElementsByTagName("input");
       for(var i=0;i<chk_list.length;i++)
        {
         if(chk_list[i].type=="checkbox")
          {
           chk_list[i].checked=isChecked;
          }
        }
    }
 </script>


{% endblock %}






















