{% extends 'base.html' %}
{% load common_tags %}
{% block content %}


<div class="wrapper wrapper-content">


 <div class="row">
            <div class="col-sm-12">
                <div class="ibox-title has-higher search-special">
                    <div class="clearfix line-first">
                        <div class="pull-left" style="padding: 0px 10px 0px 0px;">
                            <form id="contents_form" name="search_form">
                            <input type="text" class="form-control m-b input-sm pull-left line-first-text" id=""
                                   name="pname" value="{{ pname }}" placeholder="---环境名称---">
                            <div class="pull-left">
                                <button id='search_btn' type="button" class="btn btn-sm btn-primary search-btn" onclick="search_form.submit();">
                                    - 搜索 -
                                </button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-title has-higher table-special">
                        <div class="row">
                            <div class="col-md-12 line-second">
                                <h5> 环境列表 -</h5>
                                <div class="pull-left" style="margin-left:20px">
                                    <a href="{% url 'eproject_list' %}" class="btn btn-sm btn-primary "> 添加环境 </a>
                                </div>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form id="contents_form" name="contents_form">
                            <table class="table table-striped table-bordered table-hover " id="editable">
                                <thead>
                                <tr>
                                    <th class="text-center"> hostname </th>
                                    <th class="text-center"> database</th>
                                    <th class="text-center"> checksum</th>
                                    <th class="text-center"> ts_min</th>
                                    <th class="text-center"> ts_max</th>
                                    <th class="text-center"> ts_cnt</th>
                                    <th class="text-center"> Query_time_sum</th>
                                    <th class="text-center"> Query_time_min</th>
                                    <th class="text-center"> Query_time_max</th>
                                    <th class="text-center"> Query_time_pct_95</th>
                                    <th class="text-center"> sql</th>

                                </tr>
                                </thead>
                                <tbody>
                                 {% for pts in page_objects %}
                                    <tr class="gradeX">
                                        <td class="text-center">{{ pts.hostname_max }}</td>
                                        <td class="text-center"> {{ pts.db_max }} </td>
                                        <td class="text-center"> {{ pts.checksum }} </td>
                                        <td class="text-center"> {{ pts.ts_min|date:"Y-m-d H:i:s" }} </td>
                                        <td class="text-center"> {{ pts.ts_max|date:"Y-m-d H:i:s" }} </td>
                                        <td class="text-center"> {{ pts.ts_cnt }} </td>
                                        <td class="text-center"> {{ pts.Query_time_sum }} </td>
                                        <td class="text-center"> {{ pts.Query_time_min }} </td>
                                        <td class="text-center"> {{ pts.Query_time_max }} </td>
                                        <td class="text-center"> {{ pts.Query_time_pct_95 }} </td>
                                        <td class="text-center" id="sample" name="sample">
                                            <div class="dropdown profile-element">

                                                <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                                            <span class="clear">
                                            <span class="text-muted text-xs block" id="sample" name="sample">
                                                {{ pts.sample|truncatechars_html:80 | safe }}<b class="caret"></b>
                                            </span>
                                            </span>
                                                </a>

                                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                                    <li><textarea rows="10" cols="80"   id="sample" name="sample">{{ pts.sample }} </textarea></li>

                                        </ul>
                                            </div>
                                        </td>

                                        <td class="text-center">
                                            <a href="{% url 'eproject_edit' %}?id={{ eproject.id }}&{{ query_string }}"
                                               class="btn btn-xs btn-info">编辑</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                                        Showing {{ page_objects.start_index }} to {{ page_objects.end_index }}
                                        of {{ page_objects.count }} entries
                                    </div>
                                </div>
                                {% paginator_tag page_objects %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock %}

{% block self_footer_js %}
<script>
$(document).ready(function(){
    $('#show').click(function(){
        $('#show').css('display', 'none');
        $('#more').css('display', 'block');
    })
});
</script>




{% endblock %}






















