{% extends 'base.html' %}
{% load common_tags %}
{% block content %}


<div class="wrapper wrapper-content">
    <div class="row">

        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">Data changes</span>
                    <h5>数据量变化曲线</h5>
                </div>
                <div class="ibox-content">

                    <div id="main2" style="width: 600px;height:400px;"></div>
                    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main2'));


            // 初始 option
            option = {
                title: {
                    text: '数据量'
                },
                tooltip: {},
                legend: {
                    data:['单位M']
                },
                xAxis: {
                    data: []
                },
                yAxis: {},
                series: [{
                    name: '单位M',
                    type: 'bar',
                    data: []
                }]
            };


                    </script>

                </div>
            </div>
        </div>


    </div>


    <div class="row">
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>一周Top10用户</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user"></ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content ibox-heading">
                    <h3><i class="fa fa-user"></i> 一周Top10用户 </h3>
                    <small><i class="fa fa-map-marker"></i> 用户登录次数及最近一次登录记录. </small>
                </div>
                <div class="ibox-content inspinia-timeline">
                    {% if week_user_hot_ten %}
                        {% for data in week_user_hot_ten %}
                            <div class="timeline-item">
                                <div class="row">
                                    <div class="col-xs-5 date">
                                        <i class="fa fa-info-circle"></i>
                                        <strong></strong>
                                        <br/>
                                        <small class="text-navy">次</small>
                                    </div>
                                    <div class="col-xs-7 content no-top-border">
                                        <p class="m-b-xs">最近一次登录主机</p>
                                        <p></p>
                                        <p>于</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="text-center">(暂无)</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block self_footer_js %}
<script>
$(document).ready(function(){
    $('#show').click(function(){
        $('#show').css('display', 'none');
        $('#more').css('display', 'block');
    })
});
</script>
    <script>
     // 异步加载数据
                $.get('/eproject/edatabase/graph/?data=1').done(function (ret)
                {
                    myChart.hideLoading();//隐藏加载动画
                    // 填入数据
                    myChart.setOption({
                        xAxis: {
                            data: ret.categories
                        },
                        series: [{
                            // 根据名字对应到相应的系列
                            name: '单位M',
                            data: ret.data
                        }]
                    });


                });

                myChart.setOption(option)
</script>
{% endblock %}