{% load common_tags %}
<div class="col-sm-6">
    <div class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
        <ul class="pagination" style="margin-top: 0; float: right">
            <li class="paginate_button previous {{ page_objects.previous_disable_css }}" aria-controls="editable" tabindex="0" id="editable_previous">
               <a class="page" href="{{ page_objects.previous_page_url }}">Previous</a>
            </li>
            {% ifequal page_objects.show_first 1 %}
                <li class="paginate_button" aria-controls="editable" tabindex="0"><a class="page" href="{{ page_objects.first_page_url }}"  title="第1页">1...</a></li>
            {% endifequal %}
            {% for page in page_objects.page_range %}
                {% ifequal page_objects.current_page page %}
                    <li class="paginate_button active"  aria-controls="editable" tabindex="0"><a class="page" href="{% get_dict_value page_objects.page_urls page %}" >{{ page }}</a></li>
                {% else %}
                    <li class="paginate_button" aria-controls="editable" tabindex="0"><a class="page" href="{% get_dict_value page_objects.page_urls page %}" >{{ page }}</a></li>
                {% endifequal %}
            {% endfor %}
            {% ifequal page_objects.show_end 1 %}
                <li class="paginate_button" aria-controls="editable" tabindex="0"><a class="page" href="{{ page_objects.end_page_url }}" >...{{ page_objects.end_page }}</a></li>
            {% endifequal %}
            <li class="paginate_button next {{ page_objects.next_disable_css }}" aria-controls="editable" tabindex="0" id="editable_next">
                <a class="page" href="{{ page_objects.next_page_url }}">Next</a>
            </li>
        </ul>
    </div>
</div>