{% extends 'base.html' %}
{% load common_tags %}
{% block content %}


<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">Projects</span>
                    <h5>项目总数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="{% url 'eproject_list' %}">{{ project_count }}</a></h1>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Hosts</span>
                    <h5>主机总数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="{% url 'eserver_list' %}">{{ server_count }}</a></h1>

                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Auths</span>
                    <h5>授权规则</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href=""> <span id="online_users">{{ 100 }}</span></a></h1>


                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">Login Times</span>
                    <h5>上次登陆时间</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="#"> <span id="online_hosts">{{ login_count }}</span></a></h1>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
    </div>
</div>


{% endblock %}

{% block self_footer_js %}
<script>
$(document).ready(function(){
    $('#show').click(function(){
        $('#show').css('display', 'none');
        $('#more').css('display', 'block');
    })
});
</script>

{% endblock %}