{% extends 'base.html' %}
{% load common_tags %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div id="ibox-content" class="ibox-title">
                        <h5> 基本信息 </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        {% if emg %}
                            <div class="alert alert-warning text-center">{{ emg }}</div>
                        {% endif %}
                        {% if form %}
                        {% autoescape off %}{% form_errors form %}{% endautoescape %}
                        {% endif %}
                        <form id="assetForm" method="post" class="form-horizontal" role="form">
                              <div class="form-group required" >
                                <label class="control-label col-sm-2 col-lg-2 " for="opser_id">所属业务</label>
                                <div class=" col-sm-8 col-lg-8 " >
                                    <select id="opser_id" name="business" class="form-control">
                                    <option value="{{  mac.business_id }}">{{     mac.business.bname  }}</option>
                                        {% for bus in bus %}
                                            <option value="{{ bus.id }}">{{ bus.bname }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                            <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="t2">Host</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <input class=" form-control" id="host" maxlength="100" name="host" type="text" value="{{ mac.host }}" required>
                                </div>
                            </div>
                             <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="t2">Port</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <input class=" form-control" id="port" maxlength="100" name="port" type="text" value="{{ mac.port }}" required>
                                </div>
                            </div>
                        <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="t2">Username</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <input class=" form-control" id="username" maxlength="100" name="username" type="text" value="{{ mac.username }}" required>
                                </div>
                            </div>
                        <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="t2">password</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <input class=" form-control" id="password" maxlength="100" name="password" type="password" value="{{ mac.password }}" required>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <button class="btn btn-white" type="button" id="ceshi"> 测试链接</button>
                                    <button class="btn btn-primary" type="sumbit"> 提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


        <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
{#    ajax使用方法及流程 参考：http://www.cnblogs.com/zhaijunming5/p/6227947.html#}
<script>
    $(document).ready(function(){
      $("#ceshi").click(function(){
        var $host = $("#host").val();
        var $port = $("#port").val();
        var $username = $("#username").val();
        var $pwd = $("#password").val();
          $.ajax({
                type:'post',
                url:'/project/machine/add/',
                data:{a:$host,b:$port,c:$username,d:$pwd},
                dataType:"json",
                success:function(msg){
                    if (msg.status){
                      alert('连接成功！！！')
                        }else {
                        alert('连接失败，请检查！！！')
                    }
                    }



          })



      });
    });
</script>

{% endblock %}

