{% extends 'base.html' %}
{% load common_tags %}
{% block content %}


<div class="wrapper wrapper-content">

 <div class="row">
            <div class="col-sm-12">
                 <div class="col-sm-12">
                <div class="ibox-title has-higher search-special">
                    <div class="clearfix line-first">
                        <div class="pull-left" style="padding: 0px 10px 0px 0px;">
                            <form id="contents_form" name="search_form">
                                <label class="selLabel">
                                    <select name="project" class="form-control m-b input-sm">
                                        <option value="">---全部项目---</option>
                                        {% for item in project %}
                                                <option >{{ item.project_name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <input type="text" class="form-control m-b input-sm pull-left line-first-text" id=""
                                   name="branch" value="{{ branch }}" placeholder="---GIT分支---">

                                <div class="pull-left">
                                    <button id='search_btn' type="button" class="btn btn-sm btn-primary search-btn" onclick="search_form.submit();">
                                        - 搜索 -
                                    </button>
                                </div>
                             <div class="pull-left" style="margin-left:20px">
                                    <a href="{% url 'project_env_add' %}" class="btn btn-sm btn-primary "> 添加环境 </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                    <div class="ibox-content">
                        <form id="contents_form" name="contents_form">
                            <table class="table table-striped table-bordered table-hover " id="editable">
                                <thead>
                                <tr>
                                    <th class="text-center"> 项目编号 </th>
                                    <th class="text-center"> 所属项目</th>
                                   <th class="text-center"> 项目环境</th>
                                    <th class="text-center"> 状态</th>
                                    <th class="text-center"> GIT分支</th>
                                    <th class="text-center"> 要排除的文件</th>
                                    <th class="text-center"> 目标机器用户</th>
                                    <th class="text-center"> 代码目录</th>
                                    <th class="text-center"> 创建时间</th>
                                    <th class="text-center"> 更新时间</th>
                                    <th class="text-center"> manage_ip</th>


                                </tr>
                                </thead>
                                <tbody>
                                 {% for pev in page_objects %}
                                    <tr class="gradeX">
                                        <td class="text-center"> {{ pev.project_id }} </td>
                                        <td class="text-center"> {{ pev.project.project_name }} </td>
                                        <td class="text-center"> {%  if pev.env_type == 1  %} 开发 {% elif pev.env_type == 2 %} 测试 {% elif pev.env_type == 3 %} 预发 {% else %} 线上 {% endif %}
                                        <td class="text-center"> {%  if pev.status == 1  %} 启用 {% else %} 停用 {% endif %} </td>
                                        <td class="text-center"> {{ pev.branch }} </td>
                                        <td class="text-center"> {{ pev.excludes }} </td>
                                        <td class="text-center"> {{ pev.server_user }} </td>
                                        <td class="text-center"> {{ pev.code_path }} </td>
                                        <td class="text-center"> {{ pev.create_at|date:"Y-m-d H:i:s"  }} </td>
                                        <td class="text-center"> {{ pev.update_at|date:"Y-m-d H:i:s"  }} </td>
                                        <td class="text-center"> {{ pev.get_server_ip  }}  </td>

                                        <td class="text-center">
                                             <a href="{% url 'project_env_edit' %}?id={{ pev.id }}&{{ query_string }}"
                                               class="btn btn-xs btn-info">编辑</a>
{#                                            <a href="{% url 'project_env_del' %}?id={{ pev.id }}&{{ query_string }}"#}
{#                                               class="btn btn-xs btn-info">删除</a>#}
                                             {% ifequal pev.status 2 %}
                                            <a href="{% url 'project_env_change_status' %}?id={{ pev.id }}&{{ query_string }}"
                                               class="btn btn-xs btn-danger idc_del">启用</a>
                                            {% else %}
                                            <a href="{% url 'project_env_change_status' %}?id={{ pev.id }}&{{ query_string }}"
                                               class="btn btn-xs btn-danger idc_del">停用</a>
                                            {% endifequal %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                                        Showing {{ page_objects.start_index }} to {{ page_objects.end_index }}
                                        of {{ page_objects.count }} entries
                                    </div>
                                </div>
                                {% paginator_tag page_objects %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block self_footer_js %}
<script>
$(document).ready(function(){
    $('#show').click(function(){
        $('#show').css('display', 'none');
        $('#more').css('display', 'block');
    })
});
</script>




{% endblock %}






















