{% extends 'base.html' %}
{% block self_head_css_js %}
    <link href="/static/css/plugins/datepicker/datepicker3.css" rel="stylesheet">
    <link href="/static/css/plugins/chosen/chosen.css" rel="stylesheet">
    <script src="/static/js/plugins/chosen/chosen.jquery.js"></script>
{% endblock %}
{% load common_tags %}
{% block content %}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div id="ibox-content" class="ibox-title">
                        <h5> 基本信息 </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        {% if emg %}
                            <div class="alert alert-warning text-center">{{ emg }}</div>
                        {% endif %}
                        {% if form %}
                        {% autoescape off %}{% form_errors form %}{% endautoescape %}
                        {% endif %}
                        <form id="assetForm" method="post" class="form-horizontal">
                            <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="env_type">项目环境</label>
                                <div class="radio i-checks">
                                        <label> <input checked="checked" value="1" name="env_type" type="radio">开发 </label>
                                        <label> <input value="2" name="env_type" type="radio"> 测试</label>
                                        <label> <input value="3" name="env_type" type="radio"> 预发 </label>
                                        <label> <input value="4" name="env_type" type="radio"> 线上</label>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="status">状态</label>
                                <div class="radio i-checks">
                                        <label> <input checked="checked" value="1" name="status" type="radio">启用 </label>
                                        <label> <input value="2" name="status" type="radio"> 停用</label>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="project">所属项目</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <select id="leader" name="project" class="form-control" required>
                                    <option value="">项目</option>
                                        {% for project in project %}
                                            <option value="{{ project.id }}">{{ project.project_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="branch">git分支</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <input class=" form-control" id="branch" maxlength="32" name="branch"
                                           placeholder="branch" type="text" required>
                                </div>
                            </div>
                        <div class="form-group ">
                                <label class="control-label col-sm-2 col-lg-2 " for="pre_task">本地任务</label>
                                <div class=" col-sm-8 col-lg-8 " style="font-size:16px">
                                    <textarea placeholder="shell脚本" type="" class=""  name="pre_task" rows="4" cols="80" id="crontab"> </textarea>
                                </div>
                            </div>
                        <div class="form-group ">
                                <label class="control-label col-sm-2 col-lg-2 " for="post_task">后置任务</label>
                                <div class=" col-sm-8 col-lg-8 " style="font-size:16px">
                                    <textarea placeholder="每行一条命令" type="" class=""  name="post_task" rows="4" cols="80" id="crontab"> </textarea>
                                </div>
                            </div>
                          <div class="form-group ">
                                <label class="control-label col-sm-2 col-lg-2 " for="hith_task">高级任务</label>
                                <div class=" col-sm-8 col-lg-8 " style="font-size:16px">
                                    <textarea placeholder="每行一条命令" type="" class=""  name="high_task" rows="4" cols="80" id="hith_task"> </textarea>
                                </div>
                          </div>

                        <div class="form-group ">
                                <label class="control-label col-sm-2 col-lg-2 " for="excludes">要排除的文件</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <textarea placeholder="每行一条" type="" class=""  name="excludes" rows="4" cols="80" id="excludes"> </textarea>
                                </div>
                        </div>

                        <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="server_user">目标机器用户</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <input required class=" form-control" id="server_user" name="server_user"
                                           placeholder="server_user" type="text" >
                                </div>
                            </div>
                        <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="code_path">代码目录</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <input class=" form-control" id="server_user" name="code_path"
                                           placeholder="请以/结尾" type="text" required>
                                </div>
                        </div>


                        <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="asset" class="col-sm-2 control-label required">服务器ip</label>
                                <div class="col-sm-8">
                                    <select name="pids" id="asset" data-placeholder="请选择机器" class="chosen-select form-control m-b" multiple  tabindex="2">
                                        {% for servers in servers %}
                                            <option value="{{ servers.id }}">{{ servers.hostname }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>




                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <button class="btn btn-white" type="reset"> 重置</button>
                                    <button class="btn btn-primary" type="sumbit"> 提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block self_footer_js %}
<script src="/static/js/datapicker/bootstrap-datetimepicker.js"></script>
<script src="/static/js/datapicker/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<script>
$(function () {
    var config = {
                    '.chosen-select'           : {},
                    '.chosen-select-deselect'  : {allow_single_deselect:true},
                    '.chosen-select-no-single' : {disable_search_threshold:10},
                    '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
                    '.chosen-select-width'     : {width:"95%"}
                };
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }

    $('.datetimepicker').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language: 'zh-CN',
    });
});
</script>
<script src="/static/js/cropper/cropper.min.js"></script>
{% endblock %}