{% extends 'base.html' %}
{% load common_tags %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div id="ibox-content" class="ibox-title">
                        <h5> 版本详情信息 </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        {% if emg %}
                            <div class="alert alert-warning text-center">{{ emg }}</div>
                        {% endif %}
                        {% if form %}
                        {% autoescape off %}{% form_errors form %}{% endautoescape %}
                        {% endif %}
                        <form id="assetForm" method="post" class="form-horizontal nice-validator n-yellow">
                         <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="version">所属项目</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                   <label class=" form-control" maxlength="32" style="border-style:none">
                                           {{ re.project.project_name }}
                                     </label>
                                </div>
                           </div>
                            <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="type">类型</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                   <label class=" form-control" maxlength="32" style="border-style:none">
                                          {%  if re.type == 1  %} 主版本发布
                                        {% elif re.type == 2 %} 线上紧急修复
                                        {% else %} 线上紧急需求 {% endif %}
                                     </label>
                                </div>
                           </div>

                           <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="version">版本号</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                   <label class=" form-control" maxlength="32" style="border-style:none">
                                           {{ re.version }}
                                     </label>
                                </div>
                           </div>
                             <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="status">申请人 </label>
                                <div class=" col-sm-8 col-lg-8 ">
                                     <label class=" form-control" maxlength="32" style="border-style:none">
                                           {%   get_admin_name re.releaser_id %}
                                     </label>
                                </div>
                            </div>
                         <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="status">运维负责人 </label>
                                <div class=" col-sm-8 col-lg-8 ">
                                     <label class=" form-control" maxlength="32" style="border-style:none">
                                           {%   get_admin_name re.opser_id %}
                                     </label>
                                </div>
                            </div>
                         <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="status">测试负责人 </label>
                                <div class=" col-sm-8 col-lg-8 ">
                                     <label class=" form-control" maxlength="32" style="border-style:none">
                                           {%   get_admin_name re.tester_id %}
                                     </label>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="status">开始时间 </label>
                                <div class=" col-sm-8 col-lg-8 ">
                                     <label class=" form-control" maxlength="32" style="border-style:none">
                                           {{ re.begin_time|date:"Y-m-d H:i:s" }}
                                     </label>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="status">状态 </label>
                                <div class=" col-sm-8 col-lg-8 ">
                                     <label class=" form-control" maxlength="32" style="border-style:none">
                                           {%  if re.status == 0  %} 提交申请
                                         {% elif re.status == 1 %} 预发布中
                                        {% elif re.status == 2 %} 预发布失败
                                        {% elif re.status == 3 %} 预发布成功
                                        {% elif re.status == 4 %} 驳回中
                                        {% elif re.status == 5 %} 驳回成功
                                        {% elif re.status == 6 %} 驳回失败
                                        {% elif re.status == 7 %} 正式发布中
                                        {% elif re.status == 8 %} 执行部署
                                        {% elif re.status == 9 %} 部署完成
                                        {% else %} 发布成功 {% endif %}
                                     </label>
                                </div>
                            </div>

                             <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="privilege_group_name">sql </label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    {{ re.sql }}
                                </div>
                            </div>


                        <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="type">发布内容描述</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                   {{ re.description }}
                                </div>
                           </div>
                        <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="type">预合并分支</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                   <label class=" form-control" maxlength="32" style="border-style:none">
                                           {{ re.merge_branch }}
                                     </label>
                                </div>
                           </div>




                            <div class="hr-line-dashed"></div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}