{% extends 'base.html' %}
{% load common_tags %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div id="ibox-content" class="ibox-title">
                        <h5> 修改发布申请 </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        {% if emg %}
                            <div class="alert alert-warning text-center">{{ emg }}</div>
                        {% endif %}
                        {% if form %}
                        {% autoescape off %}{% form_errors form %}{% endautoescape %}
                        {% endif %}
                        <form id="ReleaseForm" method="post" class="form-horizontal nice-validator n-yellow"
                              novalidate="novalidate">
                            <div class="hr-line-dashed"></div>
                            <div class="form-group required">

                                <label class="control-label col-sm-2 col-lg-2 " for="releaser_id" >申请人</label>
                                 <div class=" col-sm-8 col-lg-8 ">
                                     <select id="releaser_id" name="releaser_id" class="form-control">
                                                <option selected="selected" value="{{ re.releaser_id }}">{%  get_admin_name re.releaser_id %}</option>
                                    </select>
                                </div>

                            </div>
                             <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="project">所属项目</label>
                                 <div class=" col-sm-8 col-lg-8 ">
                                 <select id="releaser_id" name="project" class="form-control">
                                                <option selected="selected" value="{{ re.project_id }}">{{ re.project.project_name }}</option>
                                    </select>
                                     </div>
                            </div>
                            <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="opser_id">运维负责人</label>
                                    <div class=" col-sm-8 col-lg-8 ">
                                    <select id="opser_id" name="opser_id" class="form-control">
                                    <option value="{{  re.opser_id }}">{%  get_admin_name  re.opser_id  %}</option>
                                        {% for admin in admins %}
                                            <option value="{{ admin.id }}">{{ admin.user_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                           </div>

                            <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="tester_id">测试负责人</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <select id="tester_id" name="tester_id" class="form-control">
                                    <option value="{{  re.tester_id }}">{%  get_admin_name  re.tester_id  %}</option>
                                        {% for admin in admins %}
                                            <option value="{{ admin.id }}">{{ admin.user_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                </div>
                            <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="type">类型</label>
                               <div class=" col-sm-8 col-lg-8 ">
                                    <select id="type" name="type" class="form-control">
                                         <option selected="selected" value="2">线上紧急修复</option>
                                         <option selected="selected" value="3">线上紧急需求</option>
                                         <option selected="selected" value="1">主版本发布</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="control-label col-sm-2 col-lg-2 " for="opser_id">版本号</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <input class=" form-control" id="t3" maxlength="32" name="version"
                                           placeholder="version" type="text" value="{{ re.version }}">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="control-label col-sm-2 col-lg-2 " for="opser_id">SQL</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <textarea class=" form-control" id="post_task"  name="sql"
                                           placeholder="sql" type="text" rows="10" cols="80" >{{ re.sql }}</textarea>
                                </div>
                            </div>

                            <div class="form-group ">
                                <label class="control-label col-sm-2 col-lg-2 " for="opser_id">Crontab</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <textarea class=" form-control" id="post_task"  name="crontab"
                                           placeholder="Crontab" type="text" >{{ re.crontab }}</textarea>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="control-label col-sm-2 col-lg-2 " for="opser_id">Description</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <input class=" form-control" id="t3" maxlength="32" name="description"
                                           placeholder="description" type="text" value="{{ re.description }}">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="control-label col-sm-2 col-lg-2 " for="opser_id">预计合并分支</label>
                                <div class=" col-sm-8 col-lg-8 ">
                                    <input class=" form-control" id="t3" maxlength="32" name="merge_branch"
                                           placeholder="merge_branch" type="text" value="{{ re.merge_branch }}">
                                </div>
                            </div>




                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <button class="btn btn-white" type="submit"> 取消</button>
                                    <button class="btn btn-primary" type="sumbit"> 提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#assetForm').validator({
            timely: 2,
            theme: "yellow_right_effect",
            fields: {
                "j_idc": {
                    rule: "required",
                    tip: "输入IDC名",
                    ok: "",
                    msg: {required: "IDC名必须填写!"},
                    data: {'data-ok': "主机名可以使用", 'data-msg-required': '主机名已正确'}
                }
            },
            valid: function (form) {
                form.submit();
            }
        });
    </script>
{% endblock %}