{% extends 'base.html' %}
{% load common_tags %}
{% block content %}


<div class="wrapper wrapper-content">
    <form action="/project/getdbtab" method="get">


    <div class="control-group">
        <label class="control-label">》SQL代码</label>
          <!-- Textarea -->
          <label class="control-label">》SQL代码</label>

          <div class="controls">
            <div class="textarea">
                  <textarea type="" class=""  name="a" rows="30" cols="80" id="a"> </textarea>
            </div>
          </div>
        </div>
        <p></p>
        <input type="button" id="sum" class="btn btn-sm btn-primary" name="exec_cmd" value="提交">
        <br> </br>
        <!-- Alert -->

        <p><strong> <span id='result' class="alert" ></span></strong></p>



{#         <div class="alert alert-success alert-dismissible" role="alert">#}
{#                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#                <strong>Synergize:</strong> Seamlessly visualize quality intellectual capital!#}
{#            </div>#}

</form>
</div>

<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>

<script>
    $(document).ready(function(){
      $("#sum").click(function(){
        var a = $("#a").val();

        $.get("/project/getdbtab/",{'a':a}, function(ret){
            $('#result').html(ret)
        })
      });

       // 列表 list
{#      $('#sum').click(function(){#}
{#          var a = $("#a").val();#}
{#          $.getJSON('/project/getdbtab/',{'a':a},function(ret){#}
{#            //返回值 ret 在这里是一个列表#}
{#            for (var i = ret.length - 1; i >= 0; i--) {#}
{#              // 把 ret 的每一项显示在网页上#}
{#              $('#result').append(' ' + ret[i]+' \r')#}
{#            };#}
{#          })#}
{#      })#}
    });
</script>


{% endblock %}

{% block self_footer_js %}
<script>
$(document).ready(function(){
    $('#show').click(function(){
        $('#show').css('display', 'none');
        $('#more').css('display', 'block');
    })
});
</script>




{% endblock %}






















